@media screen and (max-width: 999px){

    .resp-div1{
        width: 100% !important;
    }

    #mobile-footer{
        display: flex;
    }

    #sidebar{
        display: none;
    }

    .resp-img1{
        width: 10rem !important;
    }

    #app-container{
        flex-direction: column !important;
    }
}

@media screen and (min-width: 1000px) {
    #mobile-footer{
        display: none;
    }

    #sidebar{
        display: flex;
    }
}
